@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nasalizationReg;
  src: url("./assets/fonts/nasalizationReg.otf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: url("./assets//images/DamascusWallpaper1000.jpg");
  color: rgb(var(--foreground-rgb));
  font-family: "nasalizationReg", sans-serif;
  font-size: 16px;
  line-height: 1;
}

a.btn {
  padding: 8px 24px;
  border-radius: 8px;
  transition: ease-in-out 200ms all;
}

a.btn.btn-primary {
  background: #005995;
}

a.btn.btn-primary:hover {
  background: #0d3a5c;
  color: #fff;
}

a.btn:hover {
  color: #0d3a5c;
}

/* Skills */

.item {
  position: relative;
  transform: skewY(-10deg) rotate(0deg); /* Adjusted to keep top line horizontal */
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.item:hover {
  width: 75%;
}

.skills-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  overflow: hidden; /* Ensure no overflow */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in-left.active {
  opacity: 1;
  transform: translateX(0);
}
